// Heading Color
$heading-color: #303030;

// Text Color
$text-color: #707070;

// Default Background
$bg-default: #ff6f6f;

// Gray Background
$bg-gray: #f2f4f5;

// Primary Color
$pri-color: #ff6f6f;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #111111;

// Border Color
$border-color: #ebebeb;

// Hover Color
$hover-color: #ff6f6f;

// Footer Color
$footer-color: #2d2d2d;

// Secondary Color
$secondary-color: #b7b7b7;